/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Root Variables for Colors */
:root {
    --primary-color: #2c7fb8; /* Elegant blue */
    --secondary-color: #2e2e2e; /* Dark gray */
    --background-color: #f3f6fa; /* Light grayish-blue */
    --text-color: #525252; /* Medium gray */
    --error-color: #d9534f; /* Subtle red */
    --button-hover-color: #1b6a93; /* Darker shade of primary */
}

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #0089b7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Styling */
.container {
    width: 100%;
    max-width: 600px;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border: 1px solid #e1e8ed; /* Subtle border for a polished look */
}

/* Access Box Styling */
.access-box {
    padding: 40px;
}

.access-box h2 {
    margin-bottom: 25px;
    color: var(--secondary-color);
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px; /* Subtle spacing for elegance */
}

/* Form Styles */
form label {
    display: block;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 8px;
}

form input {
    width: 92%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccd6dd;
    border-radius: 6px;
    font-size: 1.2em;
    background-color: #f9fbfd; /* Light background for inputs */
    color: var(--secondary-color);
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 6px rgba(44, 127, 184, 0.4);
}

/* Button Styles */
form button {
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.3em;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
}

form button:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px); /* Subtle elevation effect */
}

/* Click Section */
.click {
    /* text-align: center; */
    margin-top: 15px;
    display: flex;
}

.click p {
    margin: 0;
    color: var(--text-color);
    font-size: 1.1em;
}

.click a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    margin-left: .5rem;
}

.click a:hover {
    text-decoration: underline;
}
